/*--------------- PAGINA INICIAL*/

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", serif;
}

.pagina-inicial {
    background-image: url("/IMG/folhas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 30px 60px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navegacao {
    display: flex;
    gap: 35px;
}

.menu-navegacao a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

.menu-ativo {
    border-bottom: 2px solid #d7b0b7;
    padding-bottom: 5px;
}

.redes-sociais {
    display: flex;
    gap: 15px;
}

.redes-sociais img {
    width: 22px;
    height: 22px;
}

.secao-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 30px;
}

.linha {
    width: 170px;
    height: 2px;
    background: #af8a8d;
}

.banner-principal {
    text-align: center;
}

.banner-principal h1 {
    color: #f0c7ce;
    font-size: 55px;
    margin: 0;
     letter-spacing: 3px;
 }

.banner-principal p {
    color: white;
    font-size: 22px;
    margin-top: 10px;
 }

.secao-servicos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.cartao-servico {
    width: 320px;
    text-align: center;
}

.cartao-servico img {
    width: 320px;
    height: 430px;
    object-fit: cover;
}

.cartao-servico a {
    display: block;
    width: 180px;
    margin: 20px auto;
    padding: 15px;
    text-decoration: none;
    background: #e7c0c7;
    color: #5c5c5c;
    font-weight: bold;
    transition: .3s;
}

.cartao-servico a:hover {
    background: #dca7b0;
}


/* ----------- LOGIN -----------------*/

.pagina-login {
    min-height: 100vh;
    background-image: url("/IMG/folhas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.botao-voltar {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #d48c99;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,.20);
    transition: .3s;
}

    .botao-voltar:hover {
        background: #f5e7ea;
    }

.card-login {
    width: 430px;
    background: rgba(255,255,255,.90);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,.20);
}

    .card-login h1 {
        text-align: center;
        color: #d48c99;
        margin-bottom: 10px;
        font-size: 34px;
    }

.texto-login {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.card-login label {
    display: block;
    margin-top: 18px;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

.card-login input {
    width: 100%;
    padding: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

.esqueci-senha {
    display: block;
    margin-top: 12px;
    text-align: right;
    text-decoration: none;
    color: #d48c99;
}

.card-login button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #e7c0c7;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

    .card-login button:hover {
        background: #d89ca8;
    }

.cadastro {
    margin-top: 25px;
    text-align: center;
}

    .cadastro a {
        color: #d48c99;
        text-decoration: none;
        font-weight: bold;
    }

.lado-direito {
    display: flex;
    align-items: center;
    gap: 25px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .perfil img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ffffff;
    }

    .perfil span {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }



/* MAQUIAGEM */

.pagina-maquiagem {
    background: #F9EDEE;
    min-height: 100vh;
}

.banner-maquiagem {
    background-image: url("/Maquiagem/banner-maquiagem.png");
    background-size: cover;
    background-position: center;
    height: 220px;
    position: relative;
}

.voltar {
    position: absolute;
    left: 25px;
    top: 25px;
    color: white;
    font-size: 45px;
    text-decoration: none;
}

.titulo-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

    .titulo-banner h1 {
        color: #F4C8D0;
        font-size: 50px;
        margin: 0;
        text-align: center;
    }

    .titulo-banner p {
        color: white;
        margin-top: 8px;
        text-align: center;
        font-size: 22px;
    }

.linha {
    width: 130px;
    height: 2px;
    background: #F4C8D0;
}

.lista-servicos {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.servico {
    display: flex;
    align-items: center;
    gap: 20px;
}

    .servico img {
        width: 120px;
        height: 140px;
        border-radius: 6px;
        object-fit: cover;
    }

.informacoes {
    flex: 1;
}

    .informacoes h2 {
        margin: 0;
        font-size: 34px;
        color: #4D4D4D;
    }

    .informacoes p {
        margin-top: 10px;
        font-size: 22px;
        color: #444;
    }

    .informacoes a {
        display: block;
        margin-top: 18px;
        color: #EA8AA3;
        text-decoration: none;
    }

.seta {
    text-decoration: none;
    color: #333;
    font-size: 55px;
}

/* ESTÉTICA*/
.pagina-estetica {
    background: #F9EDEE;
    min-height: 100vh;
}

.banner-estetica {
    background-image: url("/Estetica/banner-estetica.png");
    background-size: cover;
    background-position: center;
    height: 220px;
    position: relative;
}

.voltar {
    position: absolute;
    left: 25px;
    top: 25px;
    color: white;
    font-size: 45px;
    text-decoration: none;
}

.titulo-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

    .titulo-banner h1 {
        color: #F4C8D0;
        font-size: 50px;
        margin: 0;
        text-align: center;
    }

    .titulo-banner p {
        color: white;
        margin-top: 8px;
        text-align: center;
        font-size: 22px;
    }

.linha {
    width: 130px;
    height: 2px;
    background: #F4C8D0;
}

.lista-servicos {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.servico {
    display: flex;
    align-items: center;
    gap: 20px;
}

    .servico img {
        width: 120px;
        height: 140px;
        border-radius: 6px;
        object-fit: cover;
    }

.informacoes {
    flex: 1;
}

    .informacoes h2 {
        margin: 0;
        font-size: 34px;
        color: #4D4D4D;
    }

    .informacoes p {
        margin-top: 10px;
        font-size: 22px;
        color: #444;
    }

    .informacoes a {
        display: block;
        margin-top: 18px;
        color: #EA8AA3;
        text-decoration: none;
    }

.seta {
    text-decoration: none;
    color: #333;
    font-size: 55px;
}